<div id="dessert-from-content">
    <div class="form-container">
      <h2>Add Dessert</h2>
      <form [formGroup]="dessertForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <label for="dessertName">Dessert Name</label>
          <input id="dessertName" type="text" formControlName="dessertName" required />
          <div *ngIf="dessertForm.get('dessertName')?.invalid && dessertForm.get('dessertName')?.touched" class="error">
            Please enter the dessert name.
          </div>
        </div>
        <div class="form-group">
          <label for="description">Dessert description</label>
          <input id="description" type="text" formControlName="description" required />
          <div *ngIf="dessertForm.get('description')?.invalid && dessertForm.get('description')?.touched" class="error">
            Please enter the dessert description.
          </div>
        </div>

        <div class="form-group">
          <label for="dessertPrice">Dessert Price</label>
          <input id="dessertPrice" type="number" formControlName="dessertPrice" required />
          <div *ngIf="dessertForm.get('dessertPrice')?.invalid && dessertForm.get('dessertPrice')?.touched" class="error">
            Please enter a valid price.
          </div>
        </div>

        <button type="submit" [disabled]="dessertForm.invalid">Submit</button>
      </form>
    </div>
  </div>
