<div id="admin-content">

  <div id = "admin-service-types">

    <div id = "ordering-service">
      <dl>
        <dt>Ordering Services</dt>
        <dd><a href="/admin/lunches">Lunches</a></dd>
        <dd><a href="/admin/beverages">Beverages</a></dd>
        <dd><a href="/admin/meals">Meals</a></dd>
        <dd><a href="/admin/desserts">Desserts</a></dd>
        <dd><a href="/admin/orders">Orders</a></dd>

      </dl>
    </div>

    <div id = "other-service">
      <dl>
        <dt>Other Services</dt>
        <dd><a href="/admin/employees">Employees</a></dd>
        <dd><a href="/admin/parser">Parser</a></dd>
        <dd><a href="/admin/reports">Report generator</a></dd>
      </dl>
    </div>


  </div>








</div>
