<div id="meals-content">

    <div *ngIf="isAdmin()" class="add-button-container">
      <a href="/admin/meal-from" class="add-btn">Add Meal</a>
    </div>
  
    <div class="meals-container">
      <div *ngFor="let meal of meals" class="meal-item">
        <div class="meal-info">
          <h3>Main Course</h3>
          <p>Name: {{ meal.mealName }}</p>

        </div>
  
        <p>Price: {{ meal.mealPrice }} <small>$</small></p>
  
        <div *ngIf="isAdmin()">
          <button (click)="removeMeal(meal)" class="remove-btn">Remove</button>
        </div>
      </div>
    </div>
  
  </div>
  