<div>
  <app-auth></app-auth>
  <div class="sidebar">
    <a routerLink="/menu/lunches"  i18n>Lunches</a>
    <a routerLink="/menu/beverages" i18n>Beverages</a>
    <a *ngIf="isAdmin" routerLink="/admin">Admin Panel</a>
    <a  *ngIf="isWaiter" routerLink="/orders"  i18n>Make Order</a>
  </div>

  <div *ngIf="notificationMessage"
       class="notification-box">
    <span>{{notificationMessage?.notification?.title}}</span>
    <p>{{notificationMessage?.data?.date}}</p>
  </div>

  <div class="router-outlet">
    <router-outlet></router-outlet>
  </div>
</div>
