<div id="lunches-content">

  <div *ngIf="isAdmin()" class="add-button-container">
    <a href="/admin/lunch-from"class="add-btn">Add</a>
  </div>

  <div class="lunches-container">
    <div *ngFor="let lunch of lunches" class="lunch-item">
      <div class="meal-info">
        <h3>Main Course</h3>
        <p>Name: {{ lunch.mainCourse.mealName }}</p>
      </div>
      <div class="meal-info">
        <h3>Dessert</h3>
        <p>Name: {{ lunch.dessert.dessertName }}</p>
      </div>
      <p>Total price: {{ lunch.mainCourse.mealPrice + lunch.dessert.dessertPrice}}<small>$</small></p>

      <div *ngIf="isAdmin()">
        <button (click)="removeLunch(lunch)" class="remove-btn">Remove</button>
      </div>
    </div>
  </div>

</div>
