<div id="lunches-content">
  <div *ngIf="isAdmin()" class="add-button-container">
    <a href="/admin/lunch-form" class="add-btn">Add Lunch</a>
  </div>

  <div id = "searchPanel">
    <label for="search">Search lunches:</label>
    <input type="search" id="search" name="gsearch" [(ngModel)]="searchQuery">
    <button (click)="searchLunch()">find</button>
  </div>

  <fieldset>
    <legend>Price</legend>
    <div>
      <input type="radio" id="lessPrice" name="price" value="less" [(ngModel)]="lunchesPriceEdgeCondition"  (change)="searchLunch()"/>
      <label for="lessPrice">Price < {{priceEdge}}$ <small>({{this.amountRecordsLessEdge}})</small></label>
    </div>
    <div>
      <input type="radio" id="greaterPrice" name="price" value="more" [(ngModel)]="lunchesPriceEdgeCondition" (change)="searchLunch()"/>
      <label for="greaterPrice">Price > {{priceEdge}}$  <small>({{this.amountRecordsGreaterEdge}})</small></label>
    </div>
  </fieldset>

  <div class="lunches-container">
    <div *ngFor="let lunch of lunches" class="lunch-item">

      <a href="/menu/lunches/{{lunch.lunchId}}" >
      <div class="lunch-info">
        <h3>Main Course</h3>
        <p>Name: {{ lunch.mainCourse.mealName }}</p>
      </div>
      <div class="lunch-info">
        <h3>Dessert</h3>
        <p>Name: {{ lunch.dessert.dessertName }}</p>
      </div>
      <p class="total-price">
        Total Price: {{ lunch.mainCourse.mealPrice + lunch.dessert.dessertPrice }}<small>$</small>
      </p>
      </a>

      <div *ngIf="isAdmin()">
        <button (click)="removeLunch(lunch)" class="remove-btn">Remove</button>
      </div>

    </div>
  </div>


</div>
<div class="pagination-controls">
  <button (click)="goToPreviousPage()" [disabled]="currentPage === 0">Previous</button>
  <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
  <button (click)="goToNextPage()" [disabled]="currentPage >= totalPages - 1">Next</button>
</div>
